body {
	background-color: black;
	font: 100% CenturyGothic, sans-serif;
	color: white;
}

h1 {
	font-size: 2.5em;
	color: #DAACA6;
	text-align: center;
	text-transform: uppercase;
}

ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
}

li {
	display: inline-block;
}

a:link, a:visited {
	background-color: #cc0000;
	font: 1.75em;
	color: white;
	padding: 20px 30px;
	text-align: center;
	text-decoration: none;
}

a:hover, a:active {
    background-color:  #DAACA6;
}

img.face {
	display: block;
	margin: auto;
	padding: 3%;
	border-bottom: 3px solid white;
	width: 300px;
	height: auto;
}
